{% extends 'application.html' %}
	
	{% block title %}Home{% endblock %}
	

	{% block content %}
		<link rel="stylesheet" href="/static/css/home.css">
		<div class="home-top">
			<div class="home-black">
				<div class="home-word">
					<h1>欢迎来到湖大與情系统</h1>
					<h2>&nbsp;&nbsp;本系统致力于。。。</h2>
					<h3>&nbsp;&nbsp;&nbsp;&nbsp;湖大的校训是。。。</h3>
				</div>
			</div>
		</div>
		
		<div class="home-mainbody">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<div class="panel panel-default">
						  	<div class="panel-body text-center">
						    		<span class="glyphicon glyphicon-ok-circle icon"></span>
						    		<p>实时获取海量数据</p>
						  	</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-2">
						<div class="panel panel-default">
						  	<div class="panel-body text-center">
						    		<span class="glyphicon glyphicon-screenshot icon"></span>
						    		<p>聚焦各大最火热点</p>
						    		<p></p>
						  	</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<div class="panel panel-default">
						  	<div class="panel-body text-center">
						    		<span class="glyphicon glyphicon-ok-circle icon"></span>
						    		<p>实时获取海量数据</p>
						  	</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-2">
						<div class="panel panel-default">
						  	<div class="panel-body text-center">
						    		<span class="glyphicon glyphicon-screenshot icon"></span>
						    		<p>聚焦各大最火热点</p>
						    		<p></p>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}