.home-black{
	height: 100vh;
	width:100%;
	position:absolute;
	background-color: rgba(0,0,0,0.5);
}
.home-top{
	height: 100vh;
	position: relative;
	width:auto;
	background-image: url('/static/img/home-sign-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.home-word{
	color:#fff;
	margin-left:10%;
	margin-top:10%;
}
.home-mainbody .container{
	background-color: #eee;
}
.home-mainbody .container .panel{
	margin-top:20px;
}
.icon{
	font-size: 80px;
}